<h1>{{ title }}</h1>

<ul>
   {{#each users}}
    <li>
        {{ StudentNumber }} / {{ Name }} /{{ Grade }} / {{ Major }} / {{ AdmissionDate }} / {{ Email }}
       </a>
    </li>
   {{/each}}
</ul>